body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #dfe6ff;
}

header {
    background-color: #1e927f;
    color: white;
    text-align: center;
    padding: 20px 10px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2rem;
    margin: 0;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav a {
    color: white;
    text-decoration: none;
}

header nav a.button {
    background-color: #41796e;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.3s;
}

header nav a.button:hover {
    background-color: #71c8b8;
}

main {
    color:#0c6254;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    margin: 20px auto;
    max-width: 80%;
    background-color: rgba(235, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: flex-start;
}

.conteudo .imagem img {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 8px;
    flex-shrink: 0;
}

.conteudo .texto {
    flex: 1; 
    color: #0c6254;
    font-size: 1rem;
    line-height: 1.6;
    text-align: justify;
}

section {
    padding: 20px;
    text-align: justify;
    color:#0c6254;
}

.imagem-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.imagens img {
    width: 100%;
    height: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.imagens ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.imagens img:active {
    transform: scale(1.6) translateX(20px);
}

@media (max-width: 768px) {
    .imagem {
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-bottom: 20px;
    }
}

footer {
    background-color: rgba(12, 98, 84, 0.8);
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
}
